<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav th:fragment="pcNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/pc-games}">PC GAME PAGE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" th:href="@{/pc-games}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/pc-games/pcgame}">PC Game</a>
                </li>

                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/register}">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " th:href="@{/pet}">Pet</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " th:href="@{/h2}">H2 DB</a>
                </li>





            </ul>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" class="d-inline-flex" >
                <button class="btn btn-outline-success" type="submit">Logout</button>
            </form>

        </div>
    </div>
</nav>
</body>
</html>