<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PC GAME</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>
<div th:replace="fragments/pcNavigation :: pcNavbar">...</div>
<div class="col-10">
    <h4 align="center" th:text="${createMessage}"></h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">


            <form th:object="${newPcGameForm}" th:action="@{pc-games/save}" method="post">
                <div class="row mb-3">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-4">
                        <input type="text" th:field="${newPcGameForm.title}" class="form-control" id="inputTitle">

                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputProducer" class="col-sm-2 col-form-label">Producer</label>
                    <div class="col-sm-4">
                        <input type="text" th:field="${newPcGameForm.producer}" class="form-control" id="inputProducer">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputGenre" class="col-sm-2 col-form-label">Genre</label>
                    <div class="col-sm-4">
                        <input type="text" th:field="${newPcGameForm.genre}" class="form-control" id="inputGenre">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputMinimumAge" class="col-sm-2 col-form-label">Minimum Age</label>
                    <div class="col-sm-4">
                        <input type="number" th:field="${newPcGameForm.age}" class="form-control" id="inputMinimumAge">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputIsAAA" class="col-sm-2 col-form-label">Is AAA</label>
                    <div class="col-lg-auto">
                        <input type="checkbox" th:field="${newPcGameForm.isA}" class="form-check" id="inputIsAAA">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>


        </div>
        <div class="col-1"></div>
    </div>
</div>

</body>
</html>