<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PC GAME INFO</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>
<div th:replace="fragments/pcNavigation :: pcNavbar">...</div>

<table class="table table-dark table-hover">
    <thead>
    <tr>

        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Producer</th>
        <th scope="col">Genre</th>
        <th scope="col">Minimum Age</th>
        <th scope="col">Is AAA</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pcgameform : ${pcgameslist}">


        <td th:text="${pcgameform.id}">id</td>
        <td th:text="${pcgameform.Title}">Title</td>
        <td th:text="${pcgameform.producer}">Producer</td>
        <td th:text="${pcgameform.genre}">Genre</td>
        <td th:text="${pcgameform.age}">age</td>
        <td th:checkbox="${pcgameform.isA}"></td>
    </tr>

    </tbody>
</table>

</body>
</html>